<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Mon super Pokedex</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <link href="/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <a href="/">
                <h1>Mon super pokédex</h1>
            </a>
            {% block content %}{% endblock %}
            <hr>
            <div class="text-center">
                 Copyright Codecast 2019
            </div>
        </div>
    </body>
    
    <script></script>
</html>